

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Poppins:ital,wght@0,400;1,500&display=swap');


*{
  border: 0;
  margin:0;
outline: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
font-weight: 600;
}
:root {
--primary: #B0D0DC;
--secondary: #F2C197;
--secondary-light: rgba(242, 193, 151, 0.6);
--third: #FAF4F4;

}

/* cabeçalho!! */

header {
  display: flex;
  width: 100vw;
height: 7rem;

background: var(--primary);
background-image: url("../img/lilac.png");
background-repeat: no-repeat;
background-position: center center;

}


header picture img{
 display:flex;
 flex-direction: row;

background-color:var(--primary);

}

/* navegação */


a.entrar{
font-weight: bold;
font-size: 1.5rem;
left: 0.6rem;
}

a.novidades{

  text-decoration: underline var(--secondary);
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
justify-content: right;
}
header nav ul{
list-style-type: none;
display: flex;
align-items: center;
height: 100%;
}

header nav ul li{
padding: 1rem;
height: 100%;
display: flex;
align-items: center;
}
header nav ul li a{
text-decoration: none;
color: black;
}

header nav ul li:hover{
text-decoration:underline var(--primary);
background-color: var(--secondary);

}

main {
 min-height: calc(100vh- 7rem);
}

main section{
display:flex;
max-width: 1216px;
margin: 9rem auto;

}



main section.img img{
width: 50%;


}

footer{
background-color: var(--primary);
height: 3rem;
width: 100%;
bottom: 0;
position: fixed;
}























